	<h2>bans</h2>
		<% team.bans.each do |champ|%>
			<div>
				<%= link_to champ.name, unpick_champion_draft_team_champion_path(team.draft_id, team, champ) %>
			</div>
			<%end%>
			
	<h2>picks</h2>
		<% team.picks.each do |champ|%>
			<div>
				<%= link_to champ.name, unpick_champion_draft_team_champion_path(team.draft_id, team, champ) %>
			</div>
			<%end%>
			<div>
				<%= link_to "Clear Team", clear_team_draft_team_path(team.draft_id, team)%>
			</div>
